<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Public Teams", teams_path %>
  </li>
  <li>
    <%= link_to "Private Teams", private_team_path %>
  </li>
</ul>

<p>Join any and as many teams as you like. Switch teams whenever your want. Always free. </p>
<p>Click on a team to view selection criteria and opportunities. </p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Name</th>
      <th>Charter</th>
    </tr>
  </thead>

  <tbody>
    <% @public_teams.each do |team| %>
      <tr>
        <td> <%= link_to team.company.name, company_path(team.company) %></td>
        <td><%= link_to team.name, public_team_criteria_path(team_id: team.id ) %></td>
        <td><%= team.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

