<div class="row">
  <div class="span9">
  <h4>About</h4>
	<p>teamFBO is a new business evaluation tool.</p>
  <p>
	  We scan the <%= link_to "Federal Business Opportunities web site", "https://www.fbo.gov" %> 24/7 and return opportunities that match your team's <%= link_to "evaluation criteria", static_pages_criteria_path %>. The team works together to evaluate and comment on opportunities that are the best fit for your company. 
	</p>
	<br>
  </div>
</div>
<div class="row">
    <div class="span1 offset1">
      <p><%= link_to glyph(:cloud_download), "#", :class=>"black_icon" %> <br>Automated FBO Scan </p>
    </div>
    <div class="span1", align="center">
      <%= link_to glyph(:arrow_right), "#", :class=>"black_icon" %>
    </div>
    <div class="span1">
      <p><%= link_to glyph(:tasks), "#", :class=>"black_icon" %> Machine Evaluation</p>
    </div>
    <div class="span1", align="center">
      <%= link_to glyph(:arrow_right), "#", :class=>"black_icon" %>
    </div>
    <div class="span1">
      <p>
        <%= link_to glyph(:user), "#", :class=>"black_icon" %>
        <%= link_to glyph(:user), "#", :class=>"black_icon" %>
        <%= link_to glyph(:user), "#", :class=>"black_icon" %>
        Team Evaluation 
        </p>
        <%= link_to glyph(:thumbs_up), "#", :class=>"green_href" %>
        <%= link_to glyph(:thumbs_down), "#", :class=>"red_href" %>
    </div>
    <div class="span1", align="center">
      <%= link_to glyph(:arrow_right), "#", :class=>"black_icon" %>
    </div>
    <div class="span1">
      <p><%= link_to glyph(:user), plain_views_path, :class=>"black_icon" %> Management Evaluation</p>
    </div>
    <div class="span1", align="center">
      <%= link_to glyph(:arrow_right), "#", :class=>"black_icon" %>
    </div>
    <div class="span1">
      <p><%= link_to glyph(:road), "#", :class=>"black_icon" %>Opportunity Pursuit</p>
    </div>
</div>
<div class="row">
  <div class="span9 offset1">
    <hr>
  </div>
</div>
<div class="row">
  <div class="span1 offset1">
    <p>2,000 OPD*</p>
  </div>
  <div class="span1 offset1">
    <p>150 OPD</p>
  </div>
  <div class="span1 offset1">
    <p>10 OPD</p>
  </div>
  <div class="span1 offset1">
    <p>5 OPD</p>
  </div>
  <div class="span1 offset1">
    <p>> 1 OPD</p>
  </div>
</div>
<div class="row">
  <div class="span9">
    <div align="right">
    <em><small>*Opportunites per Day (OPD)</small></em>
    </div>
    <h4>Benefits</h4>
      <dl class="dl-horizontal">
        <dt>Efficient</dt>
        <dd> Helps you evaluate more qualified opportunities in far less time.</dd>
        <dt>Collaborative</dt>
        <dd> Take advantage of your team's unique capabilities by working together.</dd>
        <dt>Standardized</dt>
        <dd> Common <%= link_to "evaluation criteria", static_pages_criteria_path %> for procurement types, setback codes, and selection codes.</dd>
        <dt>Intelligent</dt>
        <dd> Use comments and evaluations to train your team on what opportunities to pursue and reject. And why.</dd>
        <dt>Self Cleaning</dt>
        <dd> Opportunites not evaluated after 8 days are purged from the site.</dd>
        <dt>Platform Independent</dt>
        <dd> teamFBO works great on your smart phone, tablet, laptop, and desktop.</dd>
      </dl>
    <hr>
  </div>
</div>


