<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Public Teams", teams_path %>
  </li>
  <li>
    <%= link_to "Private Teams", private_team_path %>
  </li>
</ul>

<%= javascript_tag do %>
  window.name = "<%= j @public_team.name %>";
<% end %>

<div class="row">
  <div class="span9">
    <h4> <%= @public_team.name %></h4>
    <p> <%= @public_team.description %></p>
  </div>
  <div class="span3">
  <p>Team Lead:</p>
  <p>Opportunities:</p>
  <p>Watchlist:</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav nav-pills pull-left">
          <li class="active"><%= link_to "Selection Criteria", public_team_criteria_path(team_id: @public_team.id)  %></li>
          <li><%= link_to "Opportunities", public_team_opportunities_path(team_id: @public_team.id)  %></li>
          <li><%= link_to "Join This Team", new_user_path(team_id: @public_team.id)  %></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <p><strong>Classification Codes</strong></p>
    <% @public_team.selection_criterium.classification_codes.each do |cc| %>
      <li><%= cc.name %> </li>
    <% end %>
  </div>
    
  <div class="span4">
    <p><strong>Procurement Types</strong></p>
    <% @public_team.selection_criterium.procurement_types.each do |pt| %>
      <li><%= pt.name %> </li>
    <% end %>
  </div>

  <div class="span4">
    <p><strong>Set Asides</strong></p>
    <p><%= @public_team.selection_criterium.set_aside_radio.name %></p>
    <% unless @public_team.selection_criterium.set_aside_radio_id == 1 %>
      <% @public_team.selection_criterium.set_asides.each do |sa| %>
        <li><em><%= sa.name %> </em></li>
      <% end %>
    <% end %>
  </div>
</div>
<br>