<%= form_for(@selection_criterium) do |f| %>
  <% if @selection_criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selection_criterium.errors.count, "error") %> prohibited this selection_criterium from being saved:</h2>

      <ul>
      <% @selection_criterium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span9">
      <h4> Edit Selection Criteria </h4>
      <p>Select checkboxes to tailor your team's FBO feed. When done, click the "Update Selection Criteria" button.</p>
    </div>
    <div class="span3">
      <p>
        Username: <%= link_to current_user.username, current_user %> 
      </p>
      <p>
        Role: <%= link_to current_user.roles.first.title, roles_path %>
      </p>    
    </div>
  </div> 
<br>
  <% if current_user.team.selection_criterium != nil %>
    <ul class="nav nav-tabs">
      <li>
        <%= link_to "Home", user_path(current_user) %>
      </li>
      <li>
        <%= link_to "Team", team_members_path %>
      </li>
      <li class="active">
        <%= link_to "Selection Criteria", team_path(current_user.team_id) %>
      </li>
    </ul>
  <% end %>

  <div class="row">
    <div class="span12">
    <div class="row">
      <div class="span4">
        <div class="actions">
          <%= f.submit "Update Selection Criteria" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <h4>Classification Codes </h4>
        <p><%= link_to glyph(:info_sign), "#", :class=>"black_icon" %><em> Select <u>at least</u> one classification code.</em></p>
        <div class="checkbox">
          <%= collection_check_boxes(:selection_criterium, :classification_code_ids, @classification_codes, :id, :name) %>
        </div>
      </div>
    <div class="span4">
      <h4>Procurement Types </h4>
      <p><%= link_to glyph(:info_sign), "#", :class=>"black_icon" %><em> Select <u>at least</u> one procurement type.</em></p>
      <div class="checkbox">
        <%= collection_check_boxes(:selection_criterium, :procurement_type_ids, @procurement_types, :id, :name) %>
      </div>
    </div>
    <div class="span4">
      <h4>Set Asides </h4>
      <p><%= link_to glyph(:info_sign), "#", :class=>"black_icon" %>
        <em> Beginner: start with 'Ignore all set asides' and <u>do not</u> select any checkboxes. 
        </em>
      </p>
      <div class="radio">
        <%= collection_radio_buttons(:selection_criterium, :set_aside_radio_id, @set_aside_radios, :id, :name) %>
      </div>
      <hr>
      <p><%= link_to glyph(:info_sign), "#", :class=>"black_icon" %>
        <em> Pro: These checkboxes only work if you select 'Ignore selected' or 'Include selected' from the above menu".
        </em>
      </p>
      <div class="checkbox">
        <%= collection_check_boxes(:selection_criterium, :set_aside_ids, @set_asides, :id, :name) %>
      </div>
    </div>
  </div>

  <hr>
<% end %>
