<div class="row">
  <div class="span8 offset1">
    <p><%= @current_team.company.name %></p>
    <h4><%= @current_team.name %> </h4>
    <p><%= @current_team.description %> </p>
  </div>
  <div class="span3">
    <p>
      Username: <%= link_to current_user.username, edit_user_path(current_user) %> 
    </p>
    <p>
      Role: <%= link_to current_user.role.title, roles_path %> 
    </p>
  </div>
</div>
<br>

<div class="row">
  <div class="span10 offset1">
    <ul class="nav nav-tabs">
      <li>
        <%= link_to "Evaluations", user_path(current_user) %>
      </li>
      <li class="active">
        <%= link_to "Team", team_members_path %>
      </li>
      <li>
        <%= link_to "Criteria", team_path(@current_team.id) %>
      </li>
      <li>
        <%= link_to "Reports", reports_path %>
      </li>
    </ul>
  </div>
</div>



<div class="row">
  <div class="span10 offset1">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav nav-pills pull-left">
            <li><%= link_to "Team Members", team_members_path %></li>
            <% if current_user.role_id < 3 %>
              <li><%#= link_to "Add Team Members", new_user_path %></li>
            <% end %>
            <li class="active"><%= link_to "Change Teams", edit_manage_team_path(@current_user) %> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span10 offset1">
    <p>
      <small>
        Join any team. But you can only evaluate opportunities for one team at a time.
      </small>
    </p>
  </div>
</div>

<div class="row">
  <div class="span2 offset1">
    <h4>Active Team</h4>

    <%= form_for(@current_user) do |f| %>
      <div class="radio">
        <%= f.collection_radio_buttons(:team_id, @user_teams, :id, :name) %>
      </div>

      <div class="actions">
        <%= f.submit("Submit", :class => "btn btn-default") %>
      </div>
    <% end %>

    <h4>Private Teams</h4> 
    <% if @private_teams.present? %>
      <% @private_teams.each do |private_team| %> 
        <p>
          <%= private_team.name  %>
        </p>
      <% end %>
    <% else %>
      <p> No private teams </p>
    <% end %>
  </div>

  <div class="span8">
    <h4><%= link_to "Public Teams", edit_manage_team_path(@current_public_team.id) %> / <%= @current_public_team.name %></h4>
    <ul class="nav nav-tabs">
      <li class="active">
        <%= link_to "Criteria", "#" %>
      </li>
      
      <li>
        <%= link_to "Opportunities", manage_teams_path(current_public_team: @current_public_team.id) %>
      </li>

      <%= form_for(@current_user) do |f| %>
        <%= f.hidden_field 'team_ids][', :value => @current_public_team.id %>
        <div class="actions">
          <%= f.submit("Join", :class => "btn btn-primary") %>
        </div>
      <% end %> 
    </ul>

    <table class="table">
      <thead>
        <tr>
          <th>Classification Codes</th>
          <th>Procurement Types</th>
          <th>Set Asides</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% @current_public_team.selection_criterium.classification_codes.each do |cc| %>
              <li><%= cc.name %> </li>
            <% end %>
          </td>

          <td>
            <% @current_public_team.selection_criterium.procurement_types.each do |pt| %>
              <li><%= pt.name %> </li>
            <% end %>
          </td>

          <td>
            <p><%= @current_public_team.selection_criterium.set_aside_radio.name %></p>
              <% unless @current_public_team.selection_criterium.set_aside_radio_id == 1 %>
                <% @current_public_team.selection_criterium.set_asides.each do |sa| %>
                  <li><em><%= sa.name %> </em></li>
                <% end %>
              <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

    <h4>Join Public Teams</h4>
    <%= form_for(@current_user) do |f| %>
      <div class="checkbox" >
        <%= f.collection_check_boxes(:team_ids, @public_teams, :id, :name) %>
        <% if @private_teams.present? %>
          <%#= f.hidden_field 'team_ids][', :value => @private_teams.first.id %>
        <% end %>
        <%# TODO: make this able to accept more than one private team. %>
      </div>
      <div class="actions">
        <%= f.submit("Submit", :class => "btn btn-default") %>
      </div>
    <% end %>
