<%= form_for(@evaluation_code) do |f| %>
  <% if @evaluation_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation_code.errors.count, "error") %> prohibited this evaluation_code from being saved:</h2>

      <ul>
      <% @evaluation_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.number_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
