<%= form_for(@user) do |f| %>
  <div class="row">
    <div class="span8 offset1">
      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span10 offset1">
      <p>
        <strong>Username: </strong><%= @user.username %>
      </p>
      <p>
        <strong>Email:</strong> <%= @user.email %>
      </p>
      <p>
        <strong>Active Team:</strong> <%= Team.find(@user.team_id).name %> 
      </p>
      <p><strong>Role:</strong> <%= current_user.role.title %></p> 

      <br>
      <h5>Change Password</h5>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <br>

      <div class="actions">
        <%= f.submit "Submit", :class => "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>

<%# raise %>

  
