<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span9">
    <h4>User Profile</h4>
    <p>Manage user profile.</p>

  </div>
  <div class="span3">
    <p>
      Username: <%= current_user.username %> 
    </p>
    <p>
      Role: <%= link_to current_user.roles.first.title, roles_path %>
    </p>    
  </div>
</div>  
<br>
<hr>
<div class="row">
  <div class="span10">
    <p>
    <strong>Username: </strong><%= @user.username %>
  </p>
  <p>
    <strong>Email:</strong> <%= @user.email %>
  </p>
  <p>
  <strong>Team:</strong> <%= @user.team.name %> 
  </p>

  <div>
    <p><strong>Role:</strong> <%= current_user.roles.first.title %></p> 
  </div>

  <br>
  <h5>Change Password</h5>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-default" %>
  </div>
<% end %>
  </div>
</div>


  
