<h3>New user</h3>



<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <br>
  <h4>User Roles</h4>
  <div class="radio">
    <%= f.radio_button(:role_id, 1) %>
    <%= f.label :role_id, Role.find(1).name %>
    <%= f.radio_button(:role_id, 2) %>
    <%= f.label :role_id, Role.find(2).name %>
    <%= f.radio_button(:role_id, 3) %>
    <%= f.label :role_id, Role.find(3).name %>
  </div>




  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-default" %>
  </div>
<% end %>



