<div class="row">
  <div class="span10 offset1">
    <% if notice %>
      <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><%= notice %></p>
      </div>
    <% end %>
  </div>
</div>

<% if @user.role_id > 3 %>
  <div class="row">
    <div class="span9">
      <p><%= @current_team.company.name %></p>

      <h3><%= @user.role.title %> </h3>
    
      <p><%= @user.role.description %> </p>
    </div>
    <div class="span3">
      <p>
        Username: <%= link_to @user.username, edit_user_path(@user) %>  
      </p>
      <p>
        Role: <%= link_to current_user.role.title, roles_path %> 
      </p>
    </div>
  </div>
  <br>
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to "Opportunities", user_path(@user) %>
    </li>
    <li>
      <%= link_to "Teams", teams_path %>
    </li>
  </ul>
  <div class="row">
    <div class="span12">
      <h4>Watchlist Opportunities</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Opportunity</th>
            <th>Team</th>
            <th>Lead</th>
            <th>Last Comment</th>
            <th>Post Date</th>
          </tr>
        </thead>
        <tbody>
        <% @capture_lead_teams_watchlists.each do |watchlist| %>
          <% if watchlist.team_id == @current_team_id %>
            <tr>
              <td> <%= link_to watchlist.opportunity.opportunity, watchlist.opportunity %> </td>
              <td> <%= link_to watchlist.team.name, watchlist.team %> </td>
              <td> <%= watchlist.team.users.find_by(role_id: 2).username %></td>
              <% if watchlist.comments.last %>
                <td> <%= watchlist.comments.last.comment %></td>
                <td> <%= watchlist.opportunity.post_date.strftime("%b %d") %> </td>
              <% else %>
                <td>None</td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="span7 offset1">
      <p><%= @current_team.company.name %></p>
      <h4><%= @current_team.name %> </h4>
      <p><%= @current_team.description %> </p>
    </div>
    <div class="span3">
      <p align="right">
        <small>
          Username: <%= link_to @user.username, edit_user_path(@user) %>  
        </small><br>
        <small>
          Role: <%= link_to current_user.role.title, roles_path %> 
        </small>
      </p>
      
      <p align="right">
        <small>
          Not Evaluated: <%= link_to @not_evaluated_count, opportunities_path(:set_filter => "1") %><br>
          Watchlist: <%= link_to @watchlist_count, opportunities_path(:set_filter => "2") %> | 
          Reject: <%= link_to @reject_count, opportunities_path(:set_filter => "3") %>
        </small>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span10 offset1">
      <ul class="nav nav-tabs">
        <li class="active">
          <%= link_to "Evaluations", user_path(@user) %>
        </li>
        <li>
          <%= link_to "Team", team_members_path %>
        </li>
        <li>
          <%= link_to "Criteria", team_path(@current_team.id) %>
        </li>
        <li>
          <%= link_to "Reports", reports_path %>
        </li>
      </ul>
      
      <% unless @evaluations_with_comments.present? %>
        <br>
        <p>
          No evaluations yet. Select the <%= link_to "Not Evaluated", opportunities_path %> link to view new opportunities.
        </p>
        <br><br><br><br>
      <% else %>

        <%#= will_paginate @eval_with_comments %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Opportunity</th>
              <th>Agency</th>
              <th>Classification</th>
              <th>Type</th>
              <th>Evaluation</th>
              <th>Post Date</th>
            </tr>
          </thead>

          <tbody>
            <% @eval_with_comments.each do |evaluation| %>
              <tr>
                <td>
                  <%= link_to evaluation.opportunity.opportunity, opportunity_path(evaluation.opportunity.id) %>
                </td>
                <td>
                  <%= evaluation.opportunity.agency %>
                </td>
                <td>
                  <%= evaluation.opportunity.class_code %> 
                </td> 
                <td>
                  <%= evaluation.opportunity.opp_type %>
                </td>
                <td class="red_href">
                  <%= evaluation.evaluation_code.name %>
                </td>
                <td>
                  <%= evaluation.opportunity.post_date.strftime("%b %d") %>
                </td>
              </tr>
              <% evaluation.comments.each do |evaluation_comment| %>
                <tr>
                  <td></td>
                  <td colspan="5">
                    <strong><%= evaluation_comment.name %>: </strong>
                    <%= evaluation_comment.comment %>  
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%#= will_paginate @eval_with_comments %>
      <% end %>
    </div>
  </div>
<% end %>