<%= form_for(@naics_code) do |f| %>
  <% if @naics_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@naics_code.errors.count, "error") %> prohibited this naics_code from being saved:</h2>

      <ul>
      <% @naics_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
