<h1>Listing naics_codes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @naics_codes.each do |naics_code| %>
      <tr>
        <td><%= naics_code.name %></td>
        <td><%= link_to 'Show', naics_code %></td>
        <td><%= link_to 'Edit', edit_naics_code_path(naics_code) %></td>
        <td><%= link_to 'Destroy', naics_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Naics code', new_naics_code_path %>
