<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @company.name %>
</p>

<p>
<strong>Description:</strong>
  <%= @company.description %>
</p>

<table class="table">
  <tr>
    <th>Teams</th><th>Description</th>
  </tr>
  <% @company.teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, public_team_criteria_path(team_id: team.id) %></td>
      <td> <%= team.description %> </td>
    </tr>
  <% end %>
</table>