<h1>Listing opportunity_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opportunity_types.each do |opportunity_type| %>
      <tr>
        <td><%= opportunity_type.name %></td>
        <td><%= link_to 'Show', opportunity_type %></td>
        <td><%= link_to 'Edit', edit_opportunity_type_path(opportunity_type) %></td>
        <td><%= link_to 'Destroy', opportunity_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opportunity type', new_opportunity_type_path %>
