<div class="row">
  <div class="span12">
    <h4 align="center"> Watchlist Plain View</h4> 
  </div>
</div>

<div class="row">
  <div class="span12">
      <%= will_paginate @opportunities %>
      <% @opportunities.each do |opportunity| %>
          <p><%= link_to opportunity.opportunity.opportunity, opportunity.opportunity.link %></p>
          <p><%= opportunity.opportunity.link %></p>
          <p><strong>Agency: </strong> <%= opportunity.opportunity.agency %></p>
          <p><strong>Classification Code: </strong> <%= opportunity.opportunity.class_code %> </p> 
          <p><strong>Opportunity Type: </strong> <%= opportunity.opportunity.opp_type %></p>
          <p><strong>Post Date: </strong><%= opportunity.opportunity.post_date.strftime("%b %d") %></p>
          <% if opportunity.comments.count > 0 %>
            <% last_comment = opportunity.comments.last.comment %>
          <% else last_comment = "none" %> 
          <% end %>
          <p><strong>Comment: </strong><%=  last_comment %> 
          <br><br>
      <% end %>
      <%= will_paginate @opportunities %>
  </div>
</div>