<div class="row">
  <div class="span7 offset1">
    <p><%= @current_team.company.name %></p>
    <h4><%= @current_team.name %> </h4>
    <p><%= @current_team.description %> </p>
  </div>
  <div class="span3">
    <p align="right">
      <small>
        Username: <%= link_to @current_user.username, edit_user_path(@current_user) %>  
      </small><br>
      <small>
        Role: <%= link_to current_user.role.title, roles_path %> 
      </small>
    </p>
    
    <p align="right">
      <small>
        Not Evaluated: <%= link_to @not_evaluated_count, opportunities_path(:set_filter => "1") %> | 
        Watchlist: <%= link_to @watchlist_count, opportunities_path(:set_filter => "2") %> | 
        Reject: <%= link_to @reject_count, opportunities_path(:set_filter => "3") %>
      </small>
    </p>
  </div>
</div>

<div class="row">
  <div class="span10 offset1">
    <ul class="nav nav-tabs">
      <li>
        <%= link_to "Evaluations", user_path(@current_user) %>
      </li>
      <li>
        <%= link_to "Team", team_members_path %>
      </li>
      <li>
        <%= link_to "Criteria", team_path(@current_team.id) %>
      </li>
      <li class="active">
        <%= link_to "Reports", reports_path(@current_team.id) %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span8 offset1">
    <h4 align="center"> Watchlist Plain View</h4>
    <p align="center"><small>Useful to cut/paste into emails & documents</small></p>
      <%= will_paginate @opportunities %>
      <% @opportunities.each do |opportunity| %>
          <p><%= link_to opportunity.opportunity.opportunity, opportunity.opportunity.link %><br>
             <%= opportunity.opportunity.link %><br>
             <strong>Agency: </strong> <%= opportunity.opportunity.agency %><br>
             <strong>Classification Code: </strong> <%= opportunity.opportunity.class_code %> <br> 
             <strong>Opportunity Type: </strong> <%= opportunity.opportunity.opp_type %><br>
             <strong>Post Date: </strong><%= opportunity.opportunity.post_date.strftime("%b %d") %><br>
          <% if opportunity.comments.count > 0 %>
            <% last_comment = opportunity.comments.last.comment %>
          <% else last_comment = "none" %> 
          <% end %>
          <strong>Comment: </strong><%=  last_comment %> </p>
          <br>
      <% end %>
      <%= will_paginate @opportunities %>
  </div>
</div>
