<div class="row">
  <div class="span9">
    <h4>User Roles</h4>
    <p>
      Role determines what you can do on teamFBO.com. 
    </p>
  </div>
  <div class="span3">
    <p>
      Username: <%= link_to current_user.username, edit_user_path(current_user) %> 
    </p>
    <p>
      Role: <%= current_user.role.title %> 
    </p>    
  </div>
</div>  
<br>
<hr>
<div class="row">
  <div class="span12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Role</th>
          <th>Team Charter</th>
          <th>Search Criteria</th>
          <th>Members</th>
          <th>Opportunities</th>
          <th>Opportunity Evaluation</th>
          <th>Opportunity Comments</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>Team Lead</th>
          <td><%= link_to 'Edit', edit_team_path(@current_team) %></td>
          <td><%= link_to "Edit", edit_selection_criterium_path(@current_team.selection_criterium) %></td>
          <td><%= link_to "View", team_members_path %></td>
          <td><%= link_to "View", opportunities_path %></td>
          <td>Watchlist<br>Reject</td>
          <td>View<br>Create</td>
        </tr>
        <tr>
          <th>Evaluator</th>
          <td><%= link_to 'View', team_path(@current_team) %></td>
          <td><%= link_to "View", team_path(@current_team) %>
          <td><%= link_to "View", team_members_path %></td>
          <td><%= link_to "View", opportunities_path %></td>
          <td>Watchlist</td>
          <td>View<br>Create</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
