<br>

<div class="row">
  <div class="span7 offset1">
    <h4>User Roles</h4>
    <p>
      Role determines what you can do on here. 
    </p>
  </div>
  <div class="span3">
    <p align="right">
      <small>
        Username: <%= link_to @current_user.username, edit_user_path(@current_user) %>  
      </small><br>
      <small>
        Role: <%= link_to current_user.role.title, roles_path %> 
      </small>
    </p>
    
    <p align="right">
      <small>
        Not Evaluated: <%= link_to @not_evaluated_count, opportunities_path(:set_filter => "1") %> | 
        Watchlist: <%= link_to @watchlist_count, opportunities_path(:set_filter => "2") %> | 
        Reject: <%= link_to @reject_count, opportunities_path(:set_filter => "3") %>
      </small>
    </p>
  </div>
</div>  

<div class="row">
  <div class="span10 offset1">
    <ul class="nav nav-tabs">
      <li>
        <%= link_to "Evaluations", user_path(current_user) %>
      </li>
      <li>
        <%= link_to "Team", team_members_path %>
      </li>
      <li>
        <%= link_to "Criteria", team_path(@current_team.id) %>
      </li>
      <li>
        <%= link_to "Reports", reports_path %>
      </li>
    </ul>
  </div>
</div>
<br>
<div class="row">
  <div class="span10 offset1">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Role</th>
          <th>Team Charter</th>
          <th>Search Criteria</th>
          <th>Members</th>
          <th>Opportunities</th>
          <th>Opportunity Evaluation</th>
          <th>Opportunity Comments</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>Team Lead</th>
          <td><%= link_to 'Edit', edit_team_path(@current_team) %></td>
          <td><%= link_to "Edit", edit_selection_criterium_path(@current_team.selection_criterium) %></td>
          <td><%= link_to "View", team_members_path %></td>
          <td><%= link_to "View", opportunities_path %></td>
          <td>Watchlist<br>Reject</td>
          <td>View<br>Create</td>
        </tr>
        <tr>
          <th>Evaluator</th>
          <td><%= link_to 'View', team_path(@current_team) %></td>
          <td><%= link_to "View", team_path(@current_team) %>
          <td><%= link_to "View", team_members_path %></td>
          <td><%= link_to "View", opportunities_path %></td>
          <td>Watchlist</td>
          <td>View<br>Create</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
