<% if current_user %>
  <%= render "opportunities/title_search_box" %>
  <div class="row">
    <div class="span2">
      <br><br><br>
      <div class="well">
        <%= render "opportunities/checkbox_search" %>
      </div>
    </div>
    <div class="span10">
      <br>
        <%= will_paginate @opportunities %>
        <table class="table table-hover">
          <thead>
              <th></th>
              <th>Opportunity</th>
              <th>Agency</th>
              <th>Classification</th>
              <th>NAICS</th>
              <th>Type</th>
              <th>Posted</th>
          </thead>
          <tbody>
            <% @opportunities.each do |evaluated_opportunity| %>
              <tr>
                <td>
                  <% if evaluated_opportunity.evaluations.find_by(team_id: @active_team.id).comments.present? %>
                    <p>
                      <%= pluralize(evaluated_opportunity.evaluations.find_by(team_id: @active_team.id).comments.count, "msg") %> 
                    </p>
                  <% end %>
                </td>
                <td><%= link_to evaluated_opportunity.opportunity, evaluated_opportunity, :target=>"_blank" %></td>
                <td><%= evaluated_opportunity.agency %></td>
                <td><%= evaluated_opportunity.class_code %> </td> 
                <td></td>
                <td><%= evaluated_opportunity.opp_type %></td>
                <td><%= evaluated_opportunity.post_date.strftime("%b %d") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @opportunities %>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="span12">
        <div class="alert alert-warning" role="alert">
          Here are the latest opportunities from FBO.gov. <%= link_to "Log in", new_user_session_path %> or <%= link_to "join a team", teams_path %> and start finding some new business opportunities! 
        </div>
        <%= render "opportunities/title_search_box" %>
        <%= will_paginate @opportunities %>
        <table class="table table-hover">
          <thead>
              <th></th>
              <th>Opportunity</th>
              <th>Agency</th>
              <th>Classification</th>
              <th>NAICS</th>
              <th>Type</th>
              <th>Posted</th>
          </thead>
          <tbody>
            <% @opportunities.each do |opportunity| %>
              <tr>
                <td>
                </td>
                <td><%= link_to opportunity.opportunity, opportunity, :target=>"_blank" %></td>
                <td><%= opportunity.agency %></td>
                <td><%= opportunity.class_code %> </td> 
                <td></td>
                <td><%= opportunity.opp_type %></td>
                <td><%= opportunity.post_date.strftime("%b %d") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @opportunities %>
    </div>
  </div>
<% end %>
