<div class="row">
  <div class="span12">
    <p align="right"> <%= link_to "Not Evaluated", opportunities_path() %> | 
                      <%= link_to "Watchlist", opportunities_path(:set_filter =>"Watchlist") %> | 
                      <%= link_to "Pursue Opportunity", opportunities_path(:set_filter =>"Pursue Opportunity") %> | 
                      <%= link_to "Reject Opportunity", opportunities_path(:set_filter =>"Reject Opportunity") %> | 
  </div>
</div>

<div class="row">
  <div class="span12">
      <%= will_paginate @opportunities %>
      <table class="table table-hover">
        <thead>
          <!-- <tr>
            <th><%= sortable "like", "Rating" %></th>
            <th><%= sortable "id", "Opportunity" %></th>
            <th><%= sortable "class_code", "Classification" %> </th>
            <th><%= sortable "agency" %></th>
            <th><%= sortable "opp_type", "Type" %></th>
            <th><%= sortable "post_date", "Posted" %></th>
            <th><%= sortable "response_date", "Deadline" %></th>
          </tr> -->
            <th></th>
            <th>Opportunity</th>
            <th>Classification</th>
            <th>Agency</th>
            <th>Type</th>
            <th>Posted</th>
        </thead>

        <tbody>
          <% @opportunities.each do |opportunity| %>
            <tr>
              <td>
                <% if opportunity.management_evaluation %>
                  <%= opportunity.management_evaluation %>
                  <% if opportunity.comments.length > 0 %>
                    <p><%= pluralize(opportunity.comments.count, "msg") %> </p>
                    
                  <% end %>
                <% end %>
              </td>
              <td><%= link_to opportunity.opportunity, opportunity, :target=>"_blank" %></td>
              <td><%= opportunity.class_code %> </td> 
              <td><%= opportunity.agency %></td>
              <td><%= opportunity.opp_type %></td>
              <td><%= opportunity.post_date.strftime("%b %d") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @opportunities %>
  </div>
</div>