<% if current_user %>
  <div class="row">
    <div class="span12">
        <%= will_paginate @evaluated_opportunities %>
        <table class="table table-hover">
          <thead>
              <th></th>
              <th>Opportunity</th>
              <th>Agency</th>
              <th>Classification</th>
              <th>Type</th>
              <th>Posted</th>
          </thead>
          <tbody>
            <% @evaluated_opportunities.each do |evaluated_opportunity| %>
              <tr>
                <td>
                  <% if evaluated_opportunity.comments.length > 0 %>
                    <p><%= pluralize(evaluated_opportunity.comments.count, "msg") %> </p>
                  <% end %>
                </td>
                <td><%= link_to evaluated_opportunity.opportunity.opportunity, evaluated_opportunity.opportunity, :target=>"_blank" %></td>
                <td><%= evaluated_opportunity.opportunity.agency %></td>
                <td><%= evaluated_opportunity.opportunity.class_code %> </td> 
                <td><%= evaluated_opportunity.opportunity.opp_type %></td>
                <td><%= evaluated_opportunity.opportunity.post_date.strftime("%b %d") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @evaluated_opportunities %>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="span12">
        <div class="alert alert-warning" role="alert">
          Here are the latest opportunities from FBO.gov. You are not <%= link_to "logged in", new_user_session_path %>. 
        </div>
        <%= will_paginate @opportunities %>
        <table class="table table-hover">
          <thead>
              <th></th>
              <th>Opportunity</th>
              <th>Agency</th>
              <th>Classification</th>
              <th>Type</th>
              <th>Posted</th>
          </thead>
          <tbody>
            <% @opportunities.each do |opportunity| %>
              <tr>
                <td>
                </td>
                <td><%= link_to opportunity.opportunity, opportunity, :target=>"_blank" %></td>
                <td><%= opportunity.agency %></td>
                <td><%= opportunity.class_code %> </td> 
                <td><%= opportunity.opp_type %></td>
                <td><%= opportunity.post_date.strftime("%b %d") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @opportunities %>
    </div>
  </div>
<% end %>
