<% if notice %>
  <div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p><%= notice %></p>
  </div>
<% end %>

<% unless current_user.present? %>
<h1>hello</h1>
<% end %>


<div class="row">
  <div class="span12">
    <% unless @opportunity_evaluation.comments.count == 0 %>  
      <h4>Comments</h4>
      <table class="table table-hover">   
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Comment</th>
        </tr>
        <% @opportunity_evaluation.comments.each do |comment| %>
          <tr>
            <td><%= comment.created_at.strftime("%b %d") %></td>
            <td><%= comment.name %></td>
            <td><%= comment.comment %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h4><%= link_to @opportunity.opportunity, @opportunity.link, :target=>"_blank", :title =>"View Opportunity on FBO.gov", data: {tooltip: true} %></h4>
    <table class="table table-bordered">
      <tr>
        <th>Agency</th>
        <th>Classification</th>
        <th>Solicitation Type</th>
        <th>Submit Date</th>
        <th>Response Deadline</th>
      </tr>
      <tr>
        <td><%= @opportunity.agency %></td>
        <td><%= @opportunity.class_code %></td>
        <td><%= @opportunity.opp_type %></td>
        <td><%= @opportunity.post_date.strftime("%b %d") %></td>
        <td><%= @opportunity.response_date.strftime("%b %d") if @opportunity.response_date %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="span8">
    <% keywords = ["sole source", "aircraft"] %>
    <% highlighted_string = @opportunity.opportunity_description ||= "nothing" %>
    <% keywords.each do |keyword| %>
      <% if @opportunity.opportunity_description.include?(keyword) %>
        <% highlighted_string = @opportunity.opportunity_description.gsub(/#{keyword}/, "<em class='text-error'>#{keyword}</em>") %>
      <% end %>
    <% end %>
    <p><%= render :inline => highlighted_string %></p>
  </div>



  <div class="span4">   
    <div class="evaluate_form">
      <h4>Evaluation</h4>
        <div class="radio">
          <%= form_for(@opportunity_evaluation) do |f| %> 
            <%= f.collection_radio_buttons(:evaluation_code_id, EvaluationCode.find(2,3), :id, :name) %>
            <%= f.submit  "Submit", :class => "btn btn-default" %>
          <% end %>
        </div>
    </div>

    <div class="comment_form">
      <h4>Comment on Opportunity</h4>    
      <%= form_for Comment.new do |f| %>
        <p></p>
        <%= f.text_field :name, value: current_user.username %> 
        <%= f.text_area :comment, placeholder: "Comment", :rows => 5 %> 
        <%= f.hidden_field :evaluation_id, value: @opportunity_evaluation.id %><br>
        <%= f.submit  "Submit", :class => "btn btn-default" %>
      <% end %>
    </div>
    <br>
  </div>
</div>


