<div class="row">
  <div class="span8">
    <% unless @comments.count == 0 %>  
      <h4>Comments</h4>
      <table class="table">   
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Comment</th>
        </tr>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.created_at.strftime("%b %d") %></td>
            <td><%= comment.name %></td>
            <td><%= comment.comment %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="span4">
    <%if @opportunity.management_evaluation %>
      <blockquote><h4>Evaluation: <%= @opportunity.management_evaluation %></h4></blockquote>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">

    <h4><%= link_to @opportunity.opportunity, @opportunity.link, :target=>"_blank", :title =>"View Opportunity on FBO.gov", data: {tooltip: true} %></h4>
    <table class="table table-bordered">
      <tr>
        <th>Agency</th>
        <th>Classification</th>
        <th>Solicitation Type</th>
        <th>Submit Date</th>
        <th>Response Deadline</th>
      </tr>
      <tr>
        <td><%= @opportunity.agency %></td>
        <td><%= @opportunity.class_code %></td>
        <td><%= @opportunity.opp_type %></td>
        <td><%= @opportunity.post_date.strftime("%b %d") %></td>
        <td><%= @opportunity.response_date.strftime("%b %d") if @opportunity.response_date %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="span8">
    <p><%= @opportunity.opportunity_description %></p>
  </div>
  <div class="span4">
    <div class="span4">
    <div class="radio">
    <strong>Comment on Opportunity</strong><br>
    <%= form_for @comment, :html => {:class=> "form-control"} do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
          <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <p><%= f.text_field :name, placeholder: "Name"%></p> 
      <p><%= f.text_area :comment, placeholder: "Comment", rows: "4" %></p> 
      <%= f.hidden_field :opportunity_id, value: @opportunity.id %><br>
      <%= f.submit "Submit", :class => "btn btn-default" %>
    <% end %>
    </div>

    <div class="radio">
    <strong>Evaluate Opportunity</strong><br>
    <%= form_for(@opportunity) do |f| %>
      <% if @opportunity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@opportunity.errors.count, "error") %> prohibited this management_evaluation from being saved:</h2>
          <ul>
          <% @opportunity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="radio">
        <%= f.radio_button(:management_evaluation, "Watchlist") %>
        <%= f.label :management_evaluation, "Watchlist" %>
        <%= f.radio_button(:management_evaluation, "Reject") %>
        <%= f.label :management_evaluation, "Reject" %>
      </div>
      <%= f.submit  "Submit", :class => "btn btn-default" %>
    <% end %>
    </div>
  </div>
</div>
