<br>
<%= form_for(@user_session) do |f| %>
  <%#= f.error_messages %>
  <% if @user_session.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(@user_session.errors.count, "error") %> prohibited login</h3>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>


  <div class="form-group">
    
    <%= f.label :username %>
    <%= f.text_field :username, :value=>params[:name] %><br>
    
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <br>
    <%= f.submit "Submit", :class => "btn btn-default" %>
  </div>

<% end %>

<p><%= link_to "Forgot password?", new_password_reset_path %></p>
